---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Apps from "@/layouts/Apps.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

const Apps = await getSinglePage("Apps");
const sortedApps = sortByDate(Apps);
const totalPages = Math.ceil(Apps.length / config.settings.pagination);
const currentApps = sortedApps.slice(0, config.settings.pagination);
---

<Base>
  <section class="section">
    <div class="container">
      <Apps Apps={currentApps} className="mb-16" />
      <Pagination currentPage={1} totalPages={totalPages} />
    </div>
  </section>
</Base>
