---
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";

// Retrieve all articles
const apps = await getSinglePage("apps");

// List of items to search in
const searchList = apps.map((item: any) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));
---

<Base title={`Search`}>
  <section class="section">
    <div class="container">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Base>
