---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import Pagination from "@/layouts/components/Pagination.astro";
import Apps from "@/layouts/Apps.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";

export async function getStaticPaths() {
    const apps = await getSinglePage("apps");
    const totalPages = Math.ceil(apps.length / config.settings.pagination);
    const paths = [];

    for (let i = 1; i < totalPages; i++) {
        paths.push({
            params: {
                slug: (i + 1).toString(),
            },
        });
    }
    return paths;
}

const { slug } = Astro.params;
const apps = await getSinglePage("apps");
const sortedApps = sortByDate(apps);
const totalPages = Math.ceil(apps.length / config.settings.pagination);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastApp = currentPage * config.settings.pagination;
const indexOfFirstApp = indexOfLastApp - config.settings.pagination;
const currentApps = sortedApps.slice(indexOfFirstApp, indexOfLastApp);
---

<Base>
    <section class="section">
        <div class="container">
            <Apps className="mb-16" apps={currentApps} />
            <Pagination totalPages={totalPages} currentPage={currentPage} />
        </div>
    </section>
</Base>
